if SHIELD_VIREAL_DACTYL_RIGHT

config ZMK_KEYBOARD_NAME
    default "vireal-dactyl-r"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if ZMK_DISPLAY

config I2C
  default y

config SSD1306
  default y

config ZMK_DISPLAY_BLANK_ON_IDLE
  default y

endif # ZMK_DISPLAY

if SHIELD_VIREAL_DACTYL_LEFT

config ZMK_KEYBOARD_NAME
    default "vireal-dactyl-l"

endif

if SHIELD_VIREAL_DACTYL_RIGHT || SHIELD_VIREAL_DACTYL_LEFT

config ZMK_SPLIT
    default y

config ZMK_STUDIO
    default n


endif
