if SHIELD_VIREAL_DACTYL_RIGHT

config ZMK_KEYBOARD_NAME
    default "vireal-dactyl-right"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_VIREAL_DACTYL_LEFT

config ZMK_KEYBOARD_NAME
    default "vireal-dactyl-left"

endif

if SHIELD_VIREAL_DACTYL_RIGHT || SHIELD_VIREAL_DACTYL_LEFT

config ZMK_SPLIT
    default y

endif
