if SHIELD_VIREAL_DACTYL_RIGHT

config VIREAL_DACTYL
    default "vireal dactyl"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MY_KEYBOARD_LEFT || SHIELD_MY_KEYBOARD_RIGHT

config ZMK_SPLIT
    default y

endif
